@import 'components.scss';

.container-fluid {
    max-width: 1600px;

}

/* center the logo */
.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: $dark-navy-blue;
    /* center all navbar items */
    justify-content: center;

    &-toggler {
        position: absolute;
        right: 1rem;
        top: .5rem;
        padding: 0;

        &:focus {
            outline-color: transparent !important;
            outline: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-appearance: none;
            -webkit-focus-ring-color: none;
            box-shadow: none;
        }

        &.collapsed {

            .navbar-toggler-icon {

                background-image: url('../Icons/hamburger.svg');


            }
        }

        .navbar-toggler-icon {
            background-image: url('../Icons/Cross-black.svg');
            background-size: 30px 30px;
            transition: 0.2s;
        }
    }

    &-brand {
        margin-right: 0;
    }

    &-brand-img {
        width: 232px;
        max-width: 20vw;
    }

    &-nav {
        align-items: center;
    }

    .nav-link {
        text-transform: uppercase;
    }

    .upper-controls-left {

        letter-spacing: 2.145px;

    }

    .lower-controls {
        font-weight: 600;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        letter-spacing: 1.4px;
        font-size: $text-size-small-2;
    }
}

/* since it's expanding at lg */
@media(min-width: 992px) {

    .navbar {

        position: relative;
        padding-top: 0;
        padding-bottom: 0;

        &-expand-lg {
            flex-flow: column nowrap;
            /* in order to display in 2 rows */
        }

        &-brand {

            padding: 1.8125rem 0;
        }

        &-nav.upper-controls {
            /* same logic as the navbar-toggler above */
            position: absolute;
            right: 1rem;
            top: .5rem;
            max-width: calc(50% - 232px/2 - 2rem);

            //height and padding same as logo
            height: calc(107px + 2rem);
            padding-top: 1.8125em;
            padding-bottom: 1.8125rem;

            &-left {
                left: 1rem;

                .nav-item:first-of-type>.nav-link {
                    padding-left: 0;
                }
            }

            &-right {
                .nav-item:last-of-type>.nav-link {
                    padding-right: 0;
                }
            }
        }

        &-nav.lower-controls {
            padding-top: 1rem;
            padding-bottom: 1rem;

            .nav-item:first-of-type>.nav-link {
                padding-left: 0;
            }

            .nav-link {
                padding-left: 1.25rem;
                padding-right: 1.25rem;


            }

        }
    }
}